.linkedin a {
    font-size: 2000x;
    color: transparent;
  }
  
  footer {
    background-color: $color_de_fondo_2;
    padding: 20px;
    font-family: "Lato", sans-serif;
    color: $color_black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

